@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

/* RESET */
*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
 background-color: #494f5c;
 color: #fff;
 font-family: 'Poppins', sans-serif;
 display: flex;
 flex-direction: column;
 height: 100vh;
}
.login-bg{
    background-color: #e3e3e3;
}
.nav-container{
    background-color: #3b3e48;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(219, 215, 215, 0.5);
}
.nav-container-light{
    box-shadow: 0px 0px 10px 1px #3b3e48;
}
.navbar-brand{
    font-weight: 700;
}
.navbar-brand:hover{
    color: rgb(57, 188, 240);
}
.navbar a{
    color: #fff;
}
.nav-link-list:hover{
    background-color: rgb(57, 188, 240); 
    border-radius: 10px;
}

.form-container{
    background-color: #ffffff;
    width: 40rem;
    margin: 3rem auto;
}
.form-check-label{
    font-size: .7rem;
}
.login-btn a{
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}
.btn{
    background-color: rgb(15, 108, 196);
}
.btn:hover{
    background-color: rgb(57, 188, 240);
}
.delete-btn, #delete-account{
    background-color: #cc5858;
}
.delete-btn:hover, #delete-account:hover{
    background-color: #ca1414;
}
.archive-btn{
    background-color: #a88308;
}
.archive-btn:hover{
    background-color: #fcc40c;
}
.signup-btn a{
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
}
.btn-signup:hover{
    background-color: #1175a7;
}
.box{
    background-color: #3b3e48;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(143, 142, 142, 0.5);
}
form{
    color: #4a4a4a;
    box-shadow: 0px 0px 16px 1px rgba(202, 199, 199, 0.5);
}
.editGameForm{
    color: #ffffff;
}
.admin-dashboard{
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 0px 0px 50px rgba(16, 108, 194, 0.5);
}
.counter{
    font-size: 5rem;
}
.counter-label{
    font-size: 2rem;
}
.table-users{
    color: #e3e3e3;
}
.table-h1{
    text-shadow: 0px 0px 50px rgba(16, 108, 194, 0.5);
    font-size: 5rem;
}
.table-h1:hover{
    color: rgb(57, 188, 240);
}
.back{
    text-decoration: none;
    color: rgb(17, 118, 212);
    font-size: 1.2rem;
}
.back:hover{
    color: rgb(57, 188, 240);
}
.viewButton{
    background-color: rgb(17, 118, 212) !important;
}
.viewButton:hover{
    color: rgb(57, 188, 240);
}
.fullName{
    font-size: 1.5rem;
}
.card{
    background-color: #3b3e48;
    box-shadow: 0px 0px 8px 1px rgba(143, 142, 142, 0.5);
    width: 20rem;
    border-radius: 10px;
}
.card img{
    height: 15rem;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px #3b3e48;
}
.card .btn{
    width: 8rem;
}
.card-title{
    font-weight: 700;
}
.addGameForm{
    color: #e3e3e3;
    border-radius: 10px;
}
.card-container-bundle{
    background-color: #3b3e48;
    box-shadow: 0px 0px 8px 1px rgba(143, 142, 142, 0.5);
    border-radius: 10px;
}
.h2-container{
    border-radius: 10px;
    background-color: #1175a7;
    box-shadow: 0px 0px 8px 1px #3b3e48;
}
.card-container-bundle img{
    height: 10rem;
}
footer{
    margin-top: auto;
    background-color: #3b3e48;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px #3b3e48;
    color: rgb(180, 177, 177);
}
footer a{
    color: inherit;
    text-decoration: none !important;
}